<% provide(:title, "Home") %>

<% if logged_in? %>
        <%= render 'shared/user_info' %>
      </section>
<% if current_user.teacher? %>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>My Posts</h3>
      <%= render 'shared/feed' %>
    </div>


<% else %>

  <div id="images" style="height:200px">
<%= image_tag("lake.jpg", :alt => "A large lake in Botswana with the sunlight reflecting off the surface", height: "100%") %>
<%= image_tag("elephant.jpg", :alt => "An elephant bathing", height: "100%") %>
<%= image_tag("okovanadelta.jpg", :alt => "The delta", height: "100%") %>
<%= image_tag("tree.jpg", :alt => "The delta", height: "100%") %>
  </div>

</div>

<p align="center">
 Botswana is one of the world's most beautiful places!
    It's landmarks such as the Okavana Delta that make Botswana such an extraordinary place. <br>
</p>

<center>
<%= image_tag 'facts.png', alt: "facts" %>
</center>


<% if current_user.group1? or current_user.teacher? %>
<h2>Group 1 itinery and times: </h2>
<center>
<ul>
<li>'Yet to be confirmed'</li>
</ul>
</center>
<% end %>

<% if current_user.group2? or current_user.teacher? %>

<h2>Group 2 itinery and times: </h2>
<center>
<ul>
<li>'Yet to be confirmed'</li>
</ul>
</center>
<% end %>
</p>

<% end %>
  </div>
<% else %>


    <h1>Welcome to explorebotswana.com</h1>

    <h2>
      Here you can find information about our
    <a href="http://www.outlookexpeditions.com/" target="blank" data-no-turbolink>outlook expedition</a>
      to Botswana in 2016.
    </h2>
<br>
<br>
    <p>To keep up to date about fundraising events and expedition news please create and account, else you can find more information on the about page. </p>
<br>
<br>
    <%= link_to "New User? No problem, sign up now!", signup_path, data: {no_turbolink: true}, class: "btn btn-lg btn-primary" %>

<%= link_to image_tag("startyourlogo.png", alt: "About the Expedition", :align=>"middle"),
            about_path, :align=>"middle" %> 

<% end %>
