<% provide(:title, "Home") %>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>

      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>My Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>


    <h1>Welcome to explorebotswana.com</h1>

    <h2>
      Here you can find information about our
    <a href="http://www.outlookexpeditions.com/" target="blank" data-no-turbolink>outlook expedition</a>
      to Botswana in 2016.
    </h2>
<br>
<br>
    <p>To keep up to date about fundraising events and expedition news please create and account, else you can find more information on the about page. </p>
<br>
<br>
    <%= link_to "New User? No problem, sign up now!", signup_path, data: {no_turbolink: true}, class: "btn btn-lg btn-primary" %>

<%= link_to image_tag("startyourlogo.png", alt: "About the Expedition", :align=>"middle"),
            about_path, :align=>"middle" %> 

<% end %>
