<% provide(:title, 'All events') %>
<h1>All events</h1>

<% if current_user.teacher? %>
<center><%= link_to "Create fundraiser!", new_fundraiser_url, class:"btn btn-primary", data: {no_turbolink: true} %></center>
<% end %>
<h2>



<ul>
  <% @fundraisers.each do |f| %>
    <li>
      <%= f.title %> from / on <%= f.date %> 
|     <%= link_to "More Details..." , f %>
<% if current_user.teacher? %>
    | <%= link_to "Edit", edit_fundraiser_path(f) %>
    | <%= link_to "Delete", f, method: :delete,
                                  data: { confirm: "Are you sure?" } %>
  <% end %>

    </li>
  <% end %>
</ul>

</h2>
