<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
<br>
<center>
    <h4>Create news for participants. </h4>
    <%= f.label :title, "Title:" %>
    <%= f.text_field :title, placeholder: "title..." %>
    <br>
    <%= f.label :content, "Content:" %> <br>
    <%= f.text_area :content, placeholder: "Please provide your name..", :cols => "60", :rows => "10" %><br>
  <%= f.submit "Post", class: "btn btn-primary" %>
  </div>
<% end %>
</center>

