<% provide(:title, "Internal") %>

<h2 style="font-size:24px;"> News about Botswana for participants. </h2>

<br>

<h3>
<% if current_user.group1? or current_user.group2? or current_user.teacher? or current_user.participant? %>
<%= link_to 'KIT LIST', '/resource/kitlist.pdf', :target => "_blank" %>

<% end %>

</h3>

<br>

<%= will_paginate @microposts %>

<% @microposts.each do |p| %>
<%= p.title %>, <br> <%= simple_format(p.content) %> <br>
<%= p.created_at.strftime('%d/%m/%Y') %>
<br>
<br>

<% end %>

<%= will_paginate @microposts %>
