<% provide(:title, "Internal") %>

<h2 style="font-size:24px;"> News about Botswana for participants. </h2>

<%= will_paginate @microposts %>

<% @microposts.each do |p| %>

<%= p.title %>, <br> <%= simple_format(p.content) %> <br>
<%= p.created_at.strftime('%d/%m/%Y') %>
<br>
<br>

<% end %>

<%= will_paginate @microposts %>
